beautifulsoup4==4.4.1
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
Click==7.0
Flask==1.1.1
Flask-SQLAlchemy==2.4.1
geographiclib==1.50
geopy==1.20.0
gunicorn==20.0.4
html-table-parser==0.1.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
psycopg2==2.8.4
requests==2.22.0
soupsieve==1.9.5
SQLAlchemy==1.3.12
urllib3==1.25.8
Werkzeug==0.16.0
